@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-poppins;
  }

  body,
  html {
    @apply bg-white dark:bg-[#111111] text-neutral-900 dark:text-neutral-300;
  }
}

.writing-v-lr {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}
